#wiki-body {
	padding: 0;
}

/* Reduziere Höhe von normaler Navbar */
.navbar {
    min-height: 30px;
}
.navbar-brand {
    height: 30px;
}
.navbar .nav > li > a, .navbar .navbar -nav > li > a, .navbar a.navbar-brand {
    padding-top: 5px;
	padding-bottom: 5px;
}
.subnav-fixed {
    top: 29px;
	border-color: #d5d5d5;
    background-color: inherit;
    box-shadow: none;
}

/* Anpassung für zweite Navbar (subnav) */
.subnav {
	background-color: white;
	border:none;
	margin-bottom: 10px; /* for static .subnav */
}
.subnav .container {
	padding-bottom: 0;
	border-bottom: 1px solid #D5D5D5;
}
.subnav .row{
	margin: 0 -30px;
}
.subnav .nav {
    display: block;
}

.subnav .navbar-brand {
	font-family: Volkhov, 'Noto Serif', Georgia, serif;
	font-size: 1.4em;
	height: auto;
	line-height: auto;
	padding: 10px 0;
	color: #111;
}
.subnav .navbar-brand img {
	max-height: 40px;
	margin-right: -0.2em;
	margin-top: 2px;
	margin-left: 4px;
}
.subnav .nav {
	margin: 0 auto 0 -12px;
	padding: 0 1px;
	width: auto;
}
.subnav form#searchform{
	display: inline-block;
	padding: 0;
	margin-right: 12px;
	width:100%
}
.subnav form #searchInput{
	width: 100%;
	box-shadow: none;
	background-color: transparent;
	border: none;
	text-align: right;
}
.subnav form#searchform .input-group-addon {
	background-color: transparent;
	border: none;
	color: inherit;
	padding-left: 0;
}

.subnav #subnav-bottom-catlinks .navbar-nav > li {
    float: left;
}

.subnav #subnav-bottom-catlinks {
	margin-left: 10px;
	margin-top: -10px;
}

/* Screen Responsive Stuff */
div#the-slider { display: none !important}

.page-header {
	margin: 0px -15px 10px;
	padding: 0;
}

@media (min-width: 768px) {
	.page-header {
		margin: 0px 0px 10px;
		padding: 0;
	}

	.subnav .container {
		padding-top: 0;
	}
	.subnav .navbar-brand {
		font-size: 3.0em;
	}
	.subnav .navbar-brand img {
		max-height: 60px;
	}
	.subnav #subnav-bottom-catlinks {
		margin-left: 88px;
		margin-top: -25px;
	}
}

@media (min-width: 992px) {
	div#the-slider { display: block !important}
	
	.subnav .navbar-brand {
		font-size: 4.1em;
		padding: 8px 0;
	}
	.subnav .navbar-brand img {
		max-height: 90px;
	}
	.subnav #subnav-bottom-catlinks {
		margin-left: 125px;
		margin-top: -35px;
	}
}


/* 
 *
 * Videolinks (Allgemein)
 */
.list-group-item.videolink {
	padding: 0;
}

/* 
 *
 * Videolinks auf Startseite
 */
.videoliste .videolink  a.video:hover {
	text-decoration: none;
}
.videoliste .videolink  img {
	max-width: 100%;
	height: auto;
}

/* 
 *
 * Videolinks auf anderen Seiten
 */
.videoliste:not(.hauptseite) .videolink,
.videoliste:not(.hauptseite) .videolink  .beschreibung {
	height: 70px;
}
.videoliste:not(.hauptseite) .videolink  .vorschaubild {
	float: left;
	clear: both;
	margin-right: 5px;
}
.videoliste:not(.hauptseite) .videolink  .vorschaubild  a.video{
	display: inline-block;
}
.videoliste:not(.hauptseite) .videolink  .beschreibung  h4 {
	margin-top: 2px;
	margin-bottom: 4px;
}

/* 
 *
 * Videoseite
 */
video {
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.videospalte {
	text-align: justify;
	
	/* Kopiere BS CSS für col-md-8 hier herein, um nicht in allen Videos die Klasse manuell einfügen zu müssen */
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
@media (min-width: 992px) {
	/* Kopiere BS CSS für col-md-8 hier herein, um nicht in allen Videos die Klasse manuell einfügen zu müssen */
	.videospalte {
		float: left;
		width: 66.6667%;
	}
}

.seitenleiste table.wikitable {
	margin-top: 0px;
}

/* 
 * BS Overwrites
 * 
 */
.btn, .well, .alert, .form-control, .list-group-item.videolink {
	border-radius: 0;
}

/* 
 * FIXES
 * 
 */
 
 /* No title on start page */
 .page-Hauptseite .pagetitle {
	 display: none;
 }

/* Checkboxes */
.client-js .mw-ui-checkbox:not(#noop) input[type="checkbox"] {
    margin: 0;
	margin-left: -20px;
    opacity: 1;
    height: 20px;
    width: 20px;
}

@media (max-width: 400px) {
	h1, .h1 {font-size: 1.3em}
	h2, .h2 {font-size: 1.2em}
	h3, .h3 {font-size: 1.1em}
}
@media (min-width: 401px) {
	h1, .h1 {font-size: 1.8em}
	h2, .h2 {font-size: 1.5em}
	h3, .h3 {font-size: 1.2em}
}
@media (min-width: 768px) {
	h1, .h1 {font-size: 2.0em}
	h2, .h2 {font-size: 1.7em}
	h3, .h3 {font-size: 1.3em}
}
@media (max-width: 769px) {
	#wiki-body.container, .videospalte {
		padding: 0;
	}
	body {padding-top: 40px}
}
@media (max-width: 979px) {
	body {padding-top: 30px}
}